footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    background-image: url("insat.jpg");
    background-repeat: no-repeat;
    background-size:contain;   
    color:#FFF6E5;
    height:100%;

}

#welcomeEl {
    text-align: center;
}
#welcomeP {
    text-align: center;
    color:black;
    font-size: large;
    border: 1px solid black;
}
